# Hands-On Pertemuan 11: Advanced MongoDB Operations and Data Query

## Objectives:
- Dive into advanced query operations and aggregation pipelines in MongoDB.
- Enhance skills in filtering, grouping, and analyzing data with MongoDB.
- Master complex MongoDB operations for real-world data scenarios.

### 1. Advanced CRUD Operations
- **Exercise 1**: Use `bulk_write` to insert, update, and delete multiple documents simultaneously.
- **Task 1**: Insert a dataset of `courses` where each course has multiple student enrollments, then display the data.

In [8]:
from pymongo import MongoClient, InsertOne, UpdateOne, DeleteOne

# Establish client connection
client = MongoClient('mongodb+srv://dikaelsaputra2406:SivCOZUnbqIxNuoR@cluster0.ztswv.mongodb.net/')
db = client['university_db']
courses_collection = db['courses']

# Bulk insert of courses with student enrollments
operations = [
    InsertOne({'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics'}),
    InsertOne({'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science'}),
    InsertOne({'course': 'History 201', 'enrollments': 20, 'department': 'History'}),
    InsertOne({'course': 'Physics 202', 'enrollments': 15, 'department': 'Physics'})
]
courses_collection.bulk_write(operations)
print('Courses inserted successfully.')

Courses inserted successfully.

In [9]:
operations = [
    UpdateOne(
        {'course': 'Math 101'},
        {'$set': {'enrollments': 35}}
    )
]
courses_collection.bulk_write(operations)
print('Kursus Math 101 berhasil diperbarui.')

Kursus Math 101 berhasil diperbarui.

In [10]:
operations = [
    DeleteOne({'course': 'Physics 202'})
]
courses_collection.bulk_write(operations)
print('Kursus Physics 202 berhasil dihapus.')

Kursus Physics 202 berhasil dihapus.

### 2. Complex Filtering and Querying
- **Exercise 2**: Filter courses with enrollments over 20 students.
- **Task 2**: Retrieve and display courses only from the 'Computer Science' or 'Mathematics' departments.

In [11]:
# Query for courses with enrollments greater than 20
for course in courses_collection.find({'enrollments': {'$gt': 20}}):
    print(course)

{'_id': ObjectId('672b18432f4aee46bf5875d1'), 'course': 'Math 101', 'enrollments': 35, 'department': 'Mathematics'}
{'_id': ObjectId('672b18432f4aee46bf5875d2'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science'}

In [12]:
# Query courses in Computer Science or Mathematics departments
for course in courses_collection.find({'department': {'$in': ['Computer Science', 'Mathematics']}}):
    print(course)

{'_id': ObjectId('672b18432f4aee46bf5875d1'), 'course': 'Math 101', 'enrollments': 35, 'department': 'Mathematics'}
{'_id': ObjectId('672b18432f4aee46bf5875d2'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science'}

### 3. Aggregation Framework for Data Analysis
- **Exercise 3**: Use aggregation to find the average enrollment per department.
- **Task 3**: Create an aggregation pipeline that finds the maximum enrollment for each department.

In [13]:
# Average enrollment per department using aggregation
pipeline = [
    {'$group': {'_id': '$department', 'average_enrollment': {'$avg': '$enrollments'}}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': 'Computer Science', 'average_enrollment': 25.0}
{'_id': 'History', 'average_enrollment': 20.0}
{'_id': 'Mathematics', 'average_enrollment': 35.0}

In [14]:
# Maximum enrollment per department
pipeline = [
    {'$group': {'_id': '$department', 'max_enrollment': {'$max': '$enrollments'}}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': 'Mathematics', 'max_enrollment': 35}
{'_id': 'Computer Science', 'max_enrollment': 25}
{'_id': 'History', 'max_enrollment': 20}

### 4. Data Transformation using $project and $addFields
- **Exercise 4**: Use `$project` to rename and only show fields: `course_name`, `department_name`, and `enrollments`.
- **Task 4**: Use `$addFields` to create a new field `enrollment_category` where enrollments > 20 are 'high' and others 'low'.

In [15]:
# Projection to rename fields
pipeline = [
    {'$project': {'course_name': '$course', 'department_name': '$department', 'enrollments': 1}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': ObjectId('672b18432f4aee46bf5875d1'), 'enrollments': 35, 'course_name': 'Math 101', 'department_name': 'Mathematics'}
{'_id': ObjectId('672b18432f4aee46bf5875d2'), 'enrollments': 25, 'course_name': 'CS 102', 'department_name': 'Computer Science'}
{'_id': ObjectId('672b18432f4aee46bf5875d3'), 'enrollments': 20, 'course_name': 'History 201', 'department_name': 'History'}

In [16]:
# Adding enrollment category field based on enrollments
pipeline = [
    {'$addFields': {'enrollment_category': {'$cond': {'if': {'$gt': ['$enrollments', 20]}, 'then': 'high', 'else': 'low'}}}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': ObjectId('672b18432f4aee46bf5875d1'), 'course': 'Math 101', 'enrollments': 35, 'department': 'Mathematics', 'enrollment_category': 'high'}
{'_id': ObjectId('672b18432f4aee46bf5875d2'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science', 'enrollment_category': 'high'}
{'_id': ObjectId('672b18432f4aee46bf5875d3'), 'course': 'History 201', 'enrollments': 20, 'department': 'History', 'enrollment_category': 'low'}

### Homework for Students
- **Homework 1**: Perform an aggregation to get a count of courses per department.

In [17]:
pipeline = [
    {'$group': {'_id': '$department', 'course_count': {'$sum': 1}}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': 'Mathematics', 'course_count': 1}
{'_id': 'History', 'course_count': 1}
{'_id': 'Computer Science', 'course_count': 1}

- **Homework 2**: Use `$match` and `$group` together to filter and get only courses with enrollments over 25 in 'Computer Science'.

In [18]:
pipeline = [
    {'$match': {'department': 'Computer Science', 'enrollments': {'$gt': 25}}},
    {'$group': {'_id': '$department', 'course_count': {'$sum': 1}}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

- **Homework 3**: Apply `$lookup` to join `courses` collection with `students` collection based on student enrollments.

In [19]:
pipeline = [
    {
        '$lookup': {
            'from': 'students',
            'localField': 'enrollments',
            'foreignField': 'student_id',
            'as': 'student_details'
        }
    }
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': ObjectId('672b18432f4aee46bf5875d1'), 'course': 'Math 101', 'enrollments': 35, 'department': 'Mathematics', 'student_details': []}
{'_id': ObjectId('672b18432f4aee46bf5875d2'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science', 'student_details': []}
{'_id': ObjectId('672b18432f4aee46bf5875d3'), 'course': 'History 201', 'enrollments': 20, 'department': 'History', 'student_details': []}

github: https://github.com/figuran04/big-data/tree/main/pertemuan-11

medium: https://medium.com/@dikaelsaputra/advanced-mongodb-operations-and-data-query-6403253b25a4