# Hands-On Pertemuan 10: Implementasi NoSQL Database - MongoDB

## Tujuan:
- Mengenal konsep dasar dan pengimplementasian database NoSQL, khususnya MongoDB.
- Melakukan berbagai operasi dasar pada MongoDB untuk analisis data.
- Mengasah keterampilan dalam menulis query yang lebih kompleks.

### 1. Menghubungkan ke Database MongoDB
- **Tugas 1**: Pastikan MongoDB telah terpasang dan berjalan. Hubungkan ke MongoDB lokal.

In [1]:
pip install --upgrade pymongo

Requirement already satisfied: pymongo in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (4.10.1)
Requirement already satisfied: dnspython in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (2.7.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
from pymongo import MongoClient

# Inisialisasi client dan koneksi ke database
client = MongoClient('mongodb+srv://dikaelsaputra2406:2DbmzeHZooEupmxs@cluster0.ztswv.mongodb.net/')
db = client['company_db']
collection = db['employees']

# Contoh untuk memastikan koneksi
print('Connected to MongoDB')

Connected to MongoDB

### 2. Operasi CRUD Dasar
- **Tugas 2**: Insert, Update, dan Delete data pada koleksi `employees`.

In [3]:
# Contoh Insert Data
employee_data = {
    'name': 'Alice',
    'department': 'Finance',
    'age': 29,
    'salary': 4500
}
collection.insert_one(employee_data)
print('Data inserted')

# Tugas: Insert beberapa data tambahan, lakukan update, serta delete data

Data inserted

Update Data: Perbarui data karyawan berdasarkan kriteria tertentu.

In [4]:
collection.update_one(     
  {'name': 'Alice'},     
  {'$set': {'salary': 5000}} 
) 
print('Data updated')

Data updated

In [5]:
# Contoh Query Data
for employee in collection.find():
    print(employee)

{'_id': ObjectId('6729710063255aaccd830b20'), 'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 5000}

Delete Data: Hapus data karyawan tertentu dari koleksi.

In [6]:
collection.delete_one(
  {'name': 'Alice'}
) 
print('Data deleted')

Data deleted

In [7]:
for employee in collection.find():
    print(employee)

### 3. Query Lebih Kompleks Menggunakan Aggregation
- **Tugas 3**: Terapkan aggregation untuk menghitung rata-rata gaji per departemen.

In [8]:
# Tambahkan beberapa data karyawan tambahan
employees = [
    {'name': 'Bob', 'department': 'Marketing', 'age': 32, 'salary': 5000},
    {'name': 'Charlie', 'department': 'Engineering', 'age': 28, 'salary': 5500},
    {'name': 'David', 'department': 'Finance', 'age': 35, 'salary': 6000},
    {'name': 'Eve', 'department': 'Engineering', 'age': 30, 'salary': 5200},
    {'name': 'Fay', 'department': 'Human Resources', 'age': 40, 'salary': 4800},
    {'name': 'Grace', 'department': 'Marketing', 'age': 26, 'salary': 4500},
    {'name': 'Heidi', 'department': 'Engineering', 'age': 25, 'salary': 4900},
    {'name': 'Ivan', 'department': 'Human Resources', 'age': 29, 'salary': 4600},
    {'name': 'Judy', 'department': 'Finance', 'age': 31, 'salary': 4700}
]

collection.insert_many(employees)
print('Additional employees inserted')

Additional employees inserted

In [3]:
# Query Aggregation untuk mencari rata-rata gaji per departemen
pipeline = [
    {'$group': {'_id': '$department', 'average_salary': {'$avg': '$salary'}}}
]
for result in collection.aggregate(pipeline):
    print(result)

{'_id': 'Human Resources', 'average_salary': 4700.0}
{'_id': 'Engineering', 'average_salary': 5200.0}
{'_id': 'Finance', 'average_salary': 5350.0}
{'_id': 'Marketing', 'average_salary': 4750.0}

### 4. Latihan Tambahan
- **Latihan 4.1**: Buatlah koleksi baru `products` dan masukkan data produk (minimal 10 produk).

In [4]:
product_collection = db['products'] 
products = [
  {'name': 'Laptop', 'category': 'Electronics', 'price': 700},
  {'name': 'Smartphone', 'category': 'Electronics', 'price': 500},
  {'name': 'Headphones', 'category': 'Electronics', 'price': 150},
  {'name': 'Desk Chair', 'category': 'Furniture', 'price': 200},
  {'name': 'Table Lamp', 'category': 'Furniture', 'price': 50},
  {'name': 'Notebook', 'category': 'Stationery', 'price': 5},
  {'name': 'Pen Set', 'category': 'Stationery', 'price': 10},
  {'name': 'Backpack', 'category': 'Accessories', 'price': 30},
  {'name': 'Water Bottle', 'category': 'Accessories', 'price': 15},
  {'name': 'Electric Kettle', 'category': 'Home Appliances', 'price': 40},
]

product_collection.insert_many(products)
print('Products inserted')

Products inserted

- **Latihan 4.2**: Lakukan query untuk menemukan produk dengan harga di atas rata-rata.

In [5]:
avg_price = list(product_collection.aggregate([{'$group': {'_id': None, 'avg_price': {'$avg': '$price'}}}]))[0]['avg_price'] 
for product in product_collection.find({'price': {'$gt': avg_price}}):     
  print(product)

{'_id': ObjectId('672a07180b57cc201d536bbf'), 'name': 'Laptop', 'category': 'Electronics', 'price': 700}
{'_id': ObjectId('672a07180b57cc201d536bc0'), 'name': 'Smartphone', 'category': 'Electronics', 'price': 500}
{'_id': ObjectId('672a07180b57cc201d536bc2'), 'name': 'Desk Chair', 'category': 'Furniture', 'price': 200}

- **Latihan 4.3**: Buatlah aggregation pipeline untuk menghitung total produk dalam setiap kategori.

In [6]:
pipeline = [     
  {'$group': {'_id': '$category', 'total_products': {'$sum': 1}}} 
] 
for result in product_collection.aggregate(pipeline):     
  print(result)

{'_id': 'Furniture', 'total_products': 2}
{'_id': 'Home Appliances', 'total_products': 1}
{'_id': 'Accessories', 'total_products': 2}
{'_id': 'Stationery', 'total_products': 2}
{'_id': 'Electronics', 'total_products': 3}

### 5. Tugas
- **Tugas 1**: Cari 5 karyawan dengan gaji tertinggi dalam setiap departemen, gunakan query atau aggregation yang sesuai.

In [7]:
pipeline = [     
  {'$sort': {'salary': -1}},     
  {'$group': {'_id': '$department', 'top_employees': {'$push': '$$ROOT'}}},     
  {'$project': {'top_employees': {'$slice': ['$top_employees', 5]}}} 
] 
for result in collection.aggregate(pipeline):     
  print(result)

{'_id': 'Finance', 'top_employees': [{'_id': ObjectId('6729743563255aaccd830b23'), 'name': 'David', 'department': 'Finance', 'age': 35, 'salary': 6000}, {'_id': ObjectId('6729743563255aaccd830b29'), 'name': 'Judy', 'department': 'Finance', 'age': 31, 'salary': 4700}]}
{'_id': 'Engineering', 'top_employees': [{'_id': ObjectId('6729743563255aaccd830b22'), 'name': 'Charlie', 'department': 'Engineering', 'age': 28, 'salary': 5500}, {'_id': ObjectId('6729743563255aaccd830b24'), 'name': 'Eve', 'department': 'Engineering', 'age': 30, 'salary': 5200}, {'_id': ObjectId('6729743563255aaccd830b27'), 'name': 'Heidi', 'department': 'Engineering', 'age': 25, 'salary': 4900}]}
{'_id': 'Marketing', 'top_employees': [{'_id': ObjectId('6729743563255aaccd830b21'), 'name': 'Bob', 'department': 'Marketing', 'age': 32, 'salary': 5000}, {'_id': ObjectId('6729743563255aaccd830b26'), 'name': 'Grace', 'department': 'Marketing', 'age': 26, 'salary': 4500}]}
{'_id': 'Human Resources', 'top_employees': [{'_id': ObjectId('6729743563255aaccd830b25'), 'name': 'Fay', 'department': 'Human Resources', 'age': 40, 'salary': 4800}, {'_id': ObjectId('6729743563255aaccd830b28'), 'name': 'Ivan', 'department': 'Human Resources', 'age': 29, 'salary': 4600}]}

- **Tugas 2**: Buatlah skenario di mana Anda harus menghapus karyawan yang berusia di bawah 25 tahun dari database.

In [8]:
collection.delete_many({'age': {'$lt': 25}})

DeleteResult({'n': 0, 'electionId': ObjectId('7fffffff00000000000000e4'), 'opTime': {'ts': Timestamp(1730807792, 20), 't': 228}, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1730807792, 20), 'signature': {'hash': b'\xf1\x11\x97(\xf4\xffP|D\x04\x13\x0b\xaf\x02G\xad\xae\xf7(\xe3', 'keyId': 7374051800296456194}}, 'operationTime': Timestamp(1730807792, 20)}, acknowledged=True)

- **Tugas 3**: Buatlah laporan ringkas (menggunakan MongoDB query) yang menghitung total gaji karyawan di setiap departemen, serta rata-rata umur karyawan.

In [9]:
pipeline = [
  {'$group': {
     '_id': '$department',
      'total_salary': {'$sum': '$salary'},
      'average_age': {'$avg': '$age'}
  }}
]
for result in collection.aggregate(pipeline):
  print(result)

{'_id': 'Finance', 'total_salary': 10700, 'average_age': 33.0}
{'_id': 'Engineering', 'total_salary': 15600, 'average_age': 27.666666666666668}
{'_id': 'Marketing', 'total_salary': 9500, 'average_age': 29.0}
{'_id': 'Human Resources', 'total_salary': 9400, 'average_age': 34.5}